* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#container {
    z-index: 1;
}

#clear {
    clear: both;
}

textarea {
    resize: none;
}

input,
textarea {
    outline-style: none;
}

.subtitle {
    /* Cuidado! Esto me lo he copiado */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

h1 {
    letter-spacing: 10px; 
    display: inline;
    text-align: center;
    border-bottom: 3px solid #FF7F27;
    font-size: 3em;
    font-weight: lighter;
    color: white;
}


/* Estilos del menu de la cabecera */
#header {
    width: 100%;
    height: 110px;
    /* min-height: 50px; */
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    background-color: grey;
    border-bottom: 0.1vw solid #FF7F27;
}

#header img {
    float: right;
    width: 200px;
    height: auto;
    margin-right: 5%;
    margin-top: 0.3%;
}

#menuPrincipal {
    list-style: none;
    padding-left: 10%;
}

#menuPrincipal a {
    text-decoration: none;
    color: #FF7F27;
    float: left;
    margin: 2.7% 1%;
    letter-spacing: 0.1vw;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 5px;
}

#menuPrincipal a:hover {
    border-bottom: 2px solid #FF7F27;
}

#menuPrincipal a:active {
    font-weight: 500;
}

#languages {
    width: 5%;
    height: 50%;
    float: right;
    vertical-align: middle;
    margin: 1% 5%;
}

#languages .flag{
    margin: 5%;
    margin-top: 10%;
    width: 30%;
    height: auto;
    float: left;
}

#triangleD {
    font-size: 0.8em;
}

#header #menuPrincipal #contact {
    margin-left: 8%;
}

#menuHead {
    position: absolute;
    display: inline-block;
    color: #FF7F27;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: larger;
    margin: 2.4% 1%;
  }
  
  #menuCont {
    display: none;
    height: 60px;
    position: absolute;
    top: 22px;
    left: -31px;
    background-color: grey;
    border: 2px white solid;
    border-radius: 5px;
    font-size: 0.7em;
    min-width: 100px;
    padding: 12px 16px;
    z-index: 6;
  }
  
  #menuHead:hover #menuCont {
    display: block;
  }

  #menuHead #menuCont #hobbies {
      position: absolute;
      top: 45px;
      left: 15px;
  }
/* Estilos del menu de la cabecera */


/* Estilos de la presentacion */
#presentacion {
    position: relative;
    width: 100%;
    height: 70%;
    z-index: 2;
    background-color: grey;
}

#presentacion h1 {
    position: absolute;
    width: 410px;
    top: 40%;
    left: 15%;
    border: none;
    text-align: left;
    letter-spacing: 0;
    font-size: 2em;
}

#presentacion #nombre {
    font-weight: 700;
    font-size: 5vw;
}

#presentacion img {
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 30.5%;
    height: auto;
}

#presentacion h2 {
    display: inline;
    position: absolute;
    top: 60%;
    left: 15%;
    color: white;
    font-size: 2em;
    font-weight: normal;
}
/* Estilos de la presentacion */



/* Estilos del boton para volver al inicio */
#return {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    background: url(../img/upArrOra.png) no-repeat grey;
    background-position: center;
    border-radius: 50%;
    border: 3px white solid;
    z-index: 20;
}

#return:hover {
    background: url(../img/upArrBlack.png) no-repeat #FF7F27;
    background-position: center;
}
/* Estilos del boton para volver al inicio */



/* Estilos del fondo de la pagina */
#backgroud {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 0;
    z-index: 1;
    background: url(../img/vlc.jpg) no-repeat;
}
/* Estilos del fondo de la pagina */

.blankSpace {
    position: relative;
    width: 100%;
    height: 30%;
}


/* Estilos del apartado de contacto */
#contacto {
    background-color: grey;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
    overflow: hidden;
}

#contacto h2 {
    color: white;
}

#contacto #contactoForm {
    float: left;
    width: 35%;
    height: 60%;
    margin: 5% 5% 5% 15%;
}

#contacto #contactoForm input,
#contacto #contactoForm textarea {
    width: 100%;
    height: 45px;
    margin: 2% 0;
    padding: 1% 0 1% 2%;    
    border: solid 1px #FF7F27
}

#contacto #contactoForm input#subBut {
    background-color: #FF7F27;    
    color: white;
    letter-spacing: 2px;
    width: 135px;
    height: 50px;
    border-radius: 10px;
    border: solid lightgrey 2px;
    padding-left: 1%;
    font-size: 1.2em;
}

#contacto #contactoForm input#subBut:hover {
    border: 2px white solid;
}

#contacto #contactoForm input#subBut:active {
    border: solid 2px #FF7F27;
    color: #FF7F27;
    background-color: white;
}

#contacto #contactoForm textarea {
    height: 140px;
}


#contacto #contactoForm input:focus,
#contacto #contactoForm textarea:focus {
    border: 2px #FF7F27 solid;
}

#contacto #contactoData {
    float: left;
    color: white;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-top: 5%;
    margin-left: 5%;
}

#contacto #contactoData ul{
    list-style: none;
}

#contacto #contactoData li.listaPrin{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
}

#contacto #contactoData li.listaPrin li{
    margin-top: 2%;
    margin-left: 20%;
}


#addPic, #phoPic, #emailPic {
    float: left;
    margin-right: 2%;
}

@media screen and (max-width: 1250px) {
    #contacto #contactoForm {
        width: 75%;
    }
}

@media screen and (max-width: 1250px) {
    #contacto #contactoData {
        margin: -5% 0% 0% 0%;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1250px) {
    #contacto #contactoData #hData{
        margin-left: 5%; 
    }
}
/* Estilos del apartado de contacto */



/* Estilos del apartado foot */
#foot {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 250px;
    z-index: 2;
    background-color: #FF7F27;
}

#foot #socialDiv {
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
}

#foot #socialDiv #socialCont{
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
}

#foot img {
    margin: 0% 5% 0% 0%;
    float: left;
    width: 50px;
    height: auto;
}

#foot img#ghL {
    margin: 0%;
}

#foot img#igL {
    width: 55px;
    margin: 0% 9% 0% 0%;
}

#foot img#twL {
    width: 80px;
    margin-top: 4px;
}

#foot p {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 25px;
}

#foot h4 {
    display: inline;
    position: relative;
    color: #FF7F27;
    border: 1px white solid;
    font-weight: lighter;
    letter-spacing: 2px;
    left: 48%;
    padding: 5px;
}

#foot h4:hover {
    color: white;
}
/* Estilos del apartado foot */



/* Estilos del apartado aboutMe */
#aboutMe {
    position: relative;
    width: 100%;
    background-color: grey;
    z-index: 2;
    overflow: auto;
}

#aboutContDiv {
    overflow: auto;
    margin: 4% auto;
    display: flex;
    justify-content: space-between;
}

#aboutContDiv .aboutInner{
    overflow: auto;
    margin: 0% auto;
}

#aboutContDiv #descriptionCont {
    margin: 0% -5% 0% -5%;
}


#aboutMe #description,
#aboutMe #coding,
#aboutMe #languages {
    float: left;
    width: 450px;
    height: 500px;
    color: white;
    text-align: justify;
    line-height: 20px;
    overflow: hidden;
    margin: 0;
}

#aboutMe h2{
    margin-bottom: 15px;
}

#aboutMe #description h2 {
    margin-left: 5%;
}

#aboutMe p {
    font-size: 1.2em;
    font: lighter;
    letter-spacing: 1px;
    margin: 0% 5%;
}

#aboutMe #firstP {
    margin: 10% 5% 10% 5%;
}

#aboutMe button {
    position: relative;
    left: 150px;
    top: 45px;
    background-color: #FF7F27;
    color: white;
    width: 185px;
    height: 55px;
    border-radius: 32px;
    border: lightgrey 2px solid;
    font-size: 1.2em;
    letter-spacing: 1px;
    outline: none;
}

#aboutMe button:hover {
    border: white 2px solid;
}

#aboutMe button:active {
    border: #FF7F27 2px solid;
    background-color: white;
    color: #FF7F27;
}

#aboutMe #coding {
    left: 40%;
}

#aboutMe #languages {
    top: 26.5%;
    left: 65%;
}

.progress .percent {
    float: right;
}

.progress .backgroud {
    position: relative;
    top: 5px;
    width: 100%;
    background-color: white;
    border-radius: 32px;
}

.progress .backgroud .bar {
    background-color: #FF7F27;
    border-radius: 32px;
    height: 15px;
}

.progress .backgroud #ninety1,
.progress .backgroud #ninety2 {
    width: 90%;
}


.progress .backgroud #eighty {
    width: 80%;
}

.progress .backgroud #fifty {
    width: 50%;
}

.progress .backgroud #thirty1,
.progress .backgroud #thirty2,
.progress .backgroud #thirty3 {
    width: 30%;
}

.progress .backgroud #twenty {
    width: 20%;
}

#coding #phy,
#languages #val {
    position: relative;
    top: 25px;
}

#coding #html,
#languages #eng {
    position: relative;
    top: 50px;
}

#coding #css,
#languages #ger {
    position: relative;
    top: 75px;
}

#coding #js,
#languages #fre {
    position: relative;
    top: 100px;
}

@media screen and (max-width: 1550px) {
    #aboutContDiv {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 1550px) {
    #aboutContDiv .aboutInner {
        display: flex;
        float: left;
        clear: both;
        width: 100%;
    }
}

@media screen and (max-width: 1550px) {
    #aboutContDiv #descriptionCont {
        margin: -10% 0% -8% 0%;
    }
}

@media screen and (max-width: 1550px) {
    #aboutContDiv #descriptionCont p,
    #aboutContDiv #descriptionCont h2 {
        margin: 0% 0% 2% 0%;
    }
}


@media screen and (max-width: 1550px) {
    #aboutMe div#coding,
    #aboutMe div#description,
    #aboutMe div#languages {
        margin: 0% auto;
    }
}

/* Estilos del apartado aboutMe */


/* Estilos del apartado projectos */
#projects {
    position: relative;
    z-index: 2;
    background-color: white;
    color: grey;
    overflow: auto;
    padding-bottom: 80px;
}

#projects h1 {
    color: black;
}

#projects #proDiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 0%;
    overflow: auto;
    width: 100%;
}

#projects #proDiv #proDivCont{
    overflow: auto;
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}


#projects label {
    float: left;
    margin-right: 1%;
    margin-bottom: 2%;
    background-color: #FF7F27;    
    color: white;
    width: 230px;
    text-align: right;
    font-size: 1.2em;
    padding: 15px 25px 15px 40px;
}

#projects label#disc,
#projects label#more {
    margin-right: 0%;
    text-align: left;
    padding: 15px 40px 15px 25px;
}

#projects label .lanProject {
    display: block;
    margin: 10px 0 0 0;
    color: lightgrey;
}

#projects p {
    float: left;
    margin: 0%;
    display: inline;
    color: black;
    text-align: justify;
    width: 770px;
    
    font-size: 1.2em;
    padding-left: 100px;
    border-left: 4px solid #FF7F27;
    height: 85px;
    letter-spacing: 1px;
}

#projects #discP,
#projects #moreP {
    clear: left;
    float: left;
    margin: 0%;
    margin-right: 1%;
    padding-left: 0px;
    border-left: none;
    border-right: 4px solid #FF7F27;
    padding-right: 100px;
}

#projects a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #FF7F27;
}

#projects a:visited {
    text-decoration: none;
    color: black;
}

/* Quiero llorar */
@media screen and (max-width: 1250px) {
    #projects #proDiv #proDivCont {
        width: auto;
    }
}

@media screen and (max-width: 1250px) {
    #projects p.testEle, #projects label.testEle,
    #projects label#disc,
    #projects label#more,
    #projects #discP,
    #projects #moreP {
        float: left;
        padding: 1% 0% 1% 1%;
        width: 93%;
        margin: 2% 0% 2% 2.5%;
        height: auto;
        border-left: 4px solid #FF7F27;
        text-align: justify;
    }
}

@media screen and (max-width: 1250px) {
    #projects #discP,
    #projects #moreP {
        border: none;
        border-right: 4px solid #FF7F27;
        padding: 1% 1% 1% 0%;
    }
}
/* Estilos del apartado projectos */



/* Estilos del apartado hobbies */

#hobby {
    position: relative;
    width: 100%;
    background-color: transparent;
    z-index: 2;
    color: white;
    overflow: auto;
}

#hobbyContDiv {
    overflow: auto;
    margin: 4% auto;
    display: flex;
    justify-content: space-between;
}

#hobbyContDiv .hobbyInner{
    overflow: auto;
    margin: 0% auto;
}

#hobbyContDiv #cookCont {
    margin: 0% -4% 0% -4%;
}

#hobby div.hobbyEle {
    float: left;
    height: 300px;
    width: 450px;
    background-color: #FF7F27;
    font-size: 1.2em;
    letter-spacing: 1px;
    overflow: hidden;
    margin: 0% auto;
}

#hobby div#read img,
#hobby div#cook img,
#hobby div#sport img {
    display: block;
    margin: 2% auto 8% auto;
    width: 50px;
    height: auto;
}

#hobby div#sport img { 
    width: 65px;
    margin-top: -1%;
}

#hobby div#read p,
#hobby div#cook p,
#hobby div#sport p {
    text-align: justify;
    margin: 0% 4%;
}

@media screen and (max-width: 1550px) {
    #hobbyContDiv {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 1550px) {
    #hobbyContDiv .hobbyInner {
        display: flex;
        float: left;
        clear: both;
        width: 100%;
    }
}

@media screen and (max-width: 1550px) {
    #hobbyContDiv #cookCont {
        margin: 5% auto;
    }
}

@media screen and (max-width: 1550px) {
    #hobby div.hobbyEle#read,
    #hobby div.hobbyEle#cook,
    #hobby div.hobbyEle#sport {
        margin: 0% auto;
    }
}
/* Estilos del apartado hobbies */


#contactoLink {
    position: absolute;
    bottom: 25%;
}

#projectsLink {
    position: absolute;
    top: 70%;
}

#hobbiesLink {
    position: absolute;
    top: 335%;
}

#emptybot {
    position: relative;
    width: 100%;
    height: 15%;
    background-color: grey;
    z-index: 2;
}